<!DOCTYPE html>
<html>
  <head>
    <title>FirstProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <%= render "layouts/components/navbar-dashboard" %>

  <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
  <%= render "layouts/components/sidebar" %>
  <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
    <main>
         <%= yield %>
    </main>
    <%= render "layouts/components/footer-dashboard" %>
  </div>

</div>

 
  </body>
</html>
